input[type=submit]{
    background-color: #edbc97;
    border:none;
    cursor:pointer;
}
input[type=select]{
    background-color: #8c76a3;
    border:none;
    cursor:pointer;
}
.logo{
    width:20%;  
    margin-left:5px;
    margin-top:5px;
}
.Titre{
	background-color:#caf043;
	height:5%;
    margin:auto;
    width:75%;
    text-align: center;
}
.bandeau{
    display: flex;
    align-items: center;
    justify-content: space-around;
	background-color:#43F09C;
    width:95%;
    margin:auto;
}
.selection{
    margin: 5px;
    text-align: center;    
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.recherche{
    margin:10px;
}
@media screen and (min-width:1720px){
    .tableau{
        width: 1700px;
        grid-template-columns: 220px 220px 220px 220px 220px 220px;
    }
}
@media screen and (min-width:1440px) and (max-width:1720px){
    .tableau{
        width: 1360px;
        grid-template-columns: 220px 220px 220px 220px 220px;
    }
}
@media screen and (min-width:1080px) and (max-width:1440px){
    .tableau{
        width: 1080px;
        grid-template-columns: 220px 220px 220px 220px;
    }
}
@media screen and (min-width:720px) and (max-width:1080px){
    .tableau{
        width: 720px;
        grid-template-columns: 220px 220px 220px ;
    }
}
@media screen and (min-width:560px) and (max-width:720px){
	.tableau{
		width: 560px;
		grid-template-columns: 220px 220px ;
	}
}
@media screen and (max-width:560px){
	.tableau{
		width: 260px;
		grid-template-columns: 220px ;
	}
}
.tableau{
    display: grid;
	background-color:#edf1db;
    text-align: center; 
    align-items: start;
    margin: auto;
    justify-content: space-between;
}
.case{
    height: 240px;
    align-items: start;
    background-color: #eaf0ed;
    margin:5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.case:hover {
    transform: scale(1.1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.chat{
    background-color: #caf043;
    width:50%;
    height:60%;
    align-items: center;
    text-align: center;
    margin:auto;
}
.image_reduite{
    height:50vh;
}
h1 {
    font-size: 200%; 
    color: #000000; 
    text-align: center;
}
p{
    margin:auto;
}