.logo{
    width:20%;  
    margin-left:5px;
    margin-top:5px;
}
.Titre{
	background-color:#f8f8f8;
	height:5%;
    margin:auto;
    width:75%;
    text-align: center;
}
.bandeau{
	background-color:#43F09C;
    width:95%;
    margin:auto;
}
.selection{
    margin: 5px;
    text-align: center;    
}
.recherche{
    float:right;
}
@media screen and (min-width:1024px){
    .tableau{
        display: grid;
        width: 1000px;
        grid-template-columns: 180px 180px 180px 180px 180px;
        align-items: start;
        justify-content: space-between;
    }
}
@media screen and (min-width:512px and max-width:1024px){
    .tableau{
        display: grid;
        margin: auto;
        width: 560px;
        grid-template-columns: 180px 180px 180px 180px;
        align-items: start;
        justify-content: space-between;
    }
}
@media screen and (max-width:512px){
	.tableau{
		display: grid;
		margin: auto;
		width: 560px;
		grid-template-columns: 180px 180px 180px;
		align-items: start;
		justify-content: space-between;
	}
}
.tableau{
	background-color:#caf043;
    text-align: center; 
	margin: auto;
}
.case{
    height: 250px;
    background-color: #eaf0ed;
    margin:3px;
}
h1 {
    font-size: 200%; 
    color: #000000; 
    text-align: center;
}